@{
    ViewBag.Title = "About";
}

<div class="container">
    <h1>About the project</h1>
    <p id="paragraph">This is a 8day tear and coffee induced attempt at making a functional web shop.I know there are alot of bugs and i hope you can forgive me.Alot of the functionality i originally planed is 
    missing due to the time limit i had, in the not so distant future i plan to finish it.<br/>PS: Don't try to crash it. You can!<br />PS:PS: If you find any mistakes in this paragraph, again forgive me, i've slep only two hours!</p>
</div>
