<div class="col-md-2 col-sm-3" id="pills-modify">
    <ul class="nav nav-stacked pills">
        <li class="categories">Helper Options</li>
        <li role="presentation">@Html.ActionLink("Account", "ChangePassword", "Manage")</li>
        <li role="presentation">@Html.ActionLink("Add Article", "Add", "Article")</li>      
        <li role="presentation"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
</div>


