
@{
    ViewBag.Title = "InvadersError";
}

<div class="error-wrapper">
    <div class="not-found">
        <img src="~/Resources/notfound.gif" alt ="~/Resources/Error.png"/>
        <h1>Sorry, we encountered an error.</h1>
    </div>
</div>


